{
    "all": true,
    "branches": 95,
    "check-coverage": true,
    "exclude": [
        "**/app/index.js",
        "**/app/lib/loggers/**",
        "**/node_modules/**",
        "**/test/**",
        "**/coverage/**",
        "**/config/**",
        "**/scripts/**"
    ],
    "functions": 95,
    "include": "app/**/*.js",
    "lines": 95,
    "reporter": [
        "html",
        "text",
        "lcov"
    ],
    "statements": 95
}